.skeleton {
  margin-top: 15px;

  &_title {
    margin-top: 20px;
  }

  &_subtitle {
    margin-top: 20px;
  }
}

.imageWrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.image {
  margin: 0 auto;
}

.icon {
  margin-right: 8px;
}

.block {
  margin-top: 16px;
}