.item {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color)
}

.collapsed {
  .link {
      display: none;
      transition: 0.2s opacity;
      width: 0;
  }
}

// REDESIGN STYLES

.itemRedesign {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  width: 100%;
}

.collapsedRedesign {
  .link {
    display: none;
    width: 0;
    transition: 0.2s opacity;
  }
}