.CodeWrapper {
  position: relative;
  border: 1px solid var(--primary-color);
  background: var(--code-bg);
  padding: 20px;
}

.btnCopy {
  position: absolute;
  top: 15px;
  right: 15px;
}

.code {
  border-radius: 10px;
  white-space: pre-wrap;
}

.iconCopy {
  fill: none;
  
  path {
    stroke: var(--primary-color);
  }
}