.ProfileCard {
  border: 1px dashed var(--inverted-bg-color);
  padding: 10px;
  margin-top: 20px;
}

.input {
  margin-top: 10px;
}

.loading, .error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}