.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  padding: 20px;
  align-items: center;
}

.authBtn {
  margin-left: auto;
}

.authUser {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.authWrap {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
}

.dropdown {
  margin-left: auto;
}