.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 6px 15px;
  transition: .2s opacity;

  &:hover {
    color: var(-accent-redesigned);
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.square {
  padding: 0;
}

.square.M {
  width: var(--font-line-m-redesigned);
  height: var(--font-line-m-redesigned);
  font: var(--font-m-redesigned);
}

.square.L {
  width: var(--font-line-l-redesigned);
  height: var(--font-line-l-redesigned);
  font: var(--font-l-redesigned);
}

.square.XL {
  width: var(--font-line-xl-redesigned);
  height: var(--font-line-xl-redesigned);
  font: var(--font-xl-redesigned);
}

.disabled {
  opacity: .5;
  cursor: default;
}

.M {
  font: var(--font-m-redesigned);
}

.L {
  font: var(--font-l-redesigned);
}

.XL {
  font: var(--font-xl-redesigned);
}

.fullWidth {
  width: 100%;
}