.ProfileCard {
  border: 2px solid var(--inverted-bg-color);
  padding: 10px;
  margin-top: 20px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.input {
  margin-top: 10px;
}

.error {
  height: 150px;
}

.avatarWrap {
  width: 100%;
}

.skeleton_wrap {
  width: 100%;
}

.skeleton_avatar {
  margin: 0 auto;
  margin-bottom: 10px;
}
