.CommentCard {
  border: 1px solid var(--primary-color);
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
}

.text {
  margin-top: 10px;
}

.skeletonCommentCard {
  margin-top: 20px;
}

.username {
  margin-left: 10px;
  float: right;
}

.loading {
  border: none;
}