.commentTitle {
  margin-top: 20px;
}

.commentForm {
  margin-top: 20px;
}

.recommendWrap {
  margin-top: 16px;
}

.recommendList {
  display: flex;
  flex-wrap: nowrap !important;
  overflow: auto hidden;
  margin-top: 10px;
  padding-bottom: 5px;
}